$vars: (
    ff-primary: 'Istok Web',  //font-family
    ff-heading: 'Montserrat',  //heading font family
    
    clr-primary: #3a89f7,
    clr-text: #63636b,
    clr-text-bold: #303036,
    clr-border: #D4D4E1,

    
    fw-l: 300,  //light font-weight
    fw-r: 400,  //regular font-weight
    fw-n: 500,  //normal font-weight
    fw-m: 600,  //medium font-weight
    fw-b: 700,  //large font-weight

    fs-def: 62.5%, //10px font-size
    fs-n: 1.6rem,  //16px font-size
    
    line-n: 1,    //normal line-height
    line-m: 1.3,  //medium line-height
    line-l: 1.6,  //large line-height
);

    
:root {
    @each $property, $value in $vars {
        --#{$property}: #{$value};
    }
}
    
    
    
@mixin var($property, $variable) {
    #{$property}: map-get($vars, $variable);  // browser support
    #{$property}: var(--#{$variable});
}
    

    
    
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
    
    
    
    
    







































